#pragma once

// Copy this file to arduino_secrets.h and fill with real values.
#define SECRET_EAP_SSID  "YOUR_EAP_SSID"
#define SECRET_EAP_ID    "YOUR_EAP_IDENTITY"
#define SECRET_EAP_USER  "YOUR_EAP_USERNAME"
#define SECRET_EAP_PASS  "YOUR_EAP_PASSWORD"

#define SECRET_PSK_SSID  "YOUR_PSK_SSID"
#define SECRET_PSK_PASS  "YOUR_PSK_PASSWORD"

#define SECRET_MQTT_USER "YOUR_MQTT_USERNAME"
#define SECRET_MQTT_PASS "YOUR_MQTT_PASSWORD"
